@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Sofia&display=swap');
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

p {
    font-family: 'Roboto', sans-serif;
    width: 250px;
    text-align: center;
}

body {
    background-color: #f3e8d0;

}

#container {
    margin: 0px auto;
    background-color: #ffffff;
    width: 600px;
}

/*Posicionamento*/
.relativo {
    border: 1px solid #ff0000;
    position: relative;

    left: 300px;
    top: 0px; ;
}
