* {
    margin-left: 10px;
    margin-top: 10px;
}

h1 {
    font-family: 'Roboto';
    color: #a52a2a;
}

h2 {
    font-family: 'roboto';
    font-weight: bold;
}

p {
    color: red;
    font-family: 'roboto';
    font-size: 1.3em;

}

.destaque {
    color: blue;
}

/*Neste exemplo, ambas as regras de estilo se aplicam ao elemento <p> porque ele é um
parágrafo e também tem a classe "destaque". No entanto, a regra .destaque é mais especifica do que a regra p,
então a cor do texto será azul.*/
