/*Seletor Descendente*/
h1{
   font-family: 'Roboto', sans-serif;
   font-weight: bold;}

p {
    font-family: 'Roboto', sans-serif;
    color: white ;
    width: 300px;
}

/*Descendênte*/

li a {
   color: blueviolet;
   font-size: 2em;
   text-decoration: none;

}